html,body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav 
{
    height: 100%;
    width: 18%;
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
.outer
{
    height: 100%;
    width : 100%;
    list-style-type: none;
    background-color: lightgrey;
    margin-bottom: 3%;
    border: lightgrey solid 1px;
    border-radius: 30px;
}

a
{
    text-decoration: none;
    margin-left: 100px;
    transition: color 2s; 
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.inner
{   
    height: 100%;
    width: 0%;
    padding: 8%;
    
    background-color: deeppink;
    transition: width 1s;
    transition-timing-function: ease-in-out;
}

.outer:hover > .inner
{
    width: 100%;
}

.outer:hover > .inner a
{
    color: black;
}